@{ var num = new int[] { 1, 2, 3, 4, 5 }; }

@foreach (var item in num)
{
    @item
}


@foreach (var item in num)
{
<text>@item </text>}


<ul>
@foreach (var item in num)
{
    <li>@item</li>
}
</ul>
